<app-navbar-admin></app-navbar-admin>
  <main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-50">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3 text-white" style="margin-top: 150px;">¡Bienvenido ADMIN!
                <span>¿Qué deseas realizar?</span>
              </h1>
            </div>
            <div>
              <img style="margin-top: -70px; height: auto; width: 100%;" src=".\assets\img\brand\landing.png">
            </div>  
          </div>
        </div>
      </div>
      <!-- SVG separator -->
    </section>
    <!-- 1st Hero Variation -->
  </div>

  <!--<section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/theme/promo-1.png" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h3>Awesome features</h3>
            <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
            
          </div>
        </div>
      </div>
    </div>
  </section>-->
 
</main>
