<app-navbar-admin></app-navbar-admin>
<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section" style="margin-top: -80px;">
      <div class="container">
        <div class="card card-profile shadow mt--300" style="width: 100%; height: 100%;">
            <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-6 mt-5 mt-lg-0">
                    <!-- Menu -->
                    <div class="custom-tab-content flex-column flex-md-row">
                      <ul ngbNav #nav1="ngbNav" [(activeId)]="active" class="nav nav-pills justify-content-center" type="pills">
                        <li class="nav-item" [ngbNavItem]="1">
                          <a class="nav-link" ngbNavLink> Nuevo Usuario</a>
                          <ng-template ngbNavContent>
                            <div class="tab-content">
                              <span class="display-3 text-center">Registro de usuarios</span>
                              <form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" #f="ngForm">
                                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                                    <div class="input-group input-group-alternative">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text"><i class=""></i></span>
                                      </div>
                                      <!--Nombre-->
                                      <input class="form-control" formControlName="name" placeholder="Nombre(s)" type="text" (focus)="focus=true" (blur)="focus=false" required>
                                    </div>
                                  </div>
                                  <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                                    <div class="input-group input-group-alternative">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text"><i class=""></i></span>
                                      </div>
                                      <!--Apellidos-->
                                      <input class="form-control" formControlName="surname" placeholder="Apellido(s)" type="text" (focus)="focus=true" (blur)="focus=false" required>
                                    </div>
                                  </div>
                                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                                  <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    <!--Email-->
                                    <input class="form-control" formControlName="email" placeholder="Email" type="email" (focus)="focus=true" (blur)="focus=false" required>
                                  </div>
                                </div>
                                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                                  <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    <!--Password-->
                                    <input class="form-control" formControlName="password" placeholder="Password" type="password" (focus)="focus1=true" (blur)="focus1=false" required>
                                  </div>
                                </div>
                                <div class="text-center">
                                  <button type="submit" [disabled]="f.invalid" class="btn btn-primary my-4">Registrar</button>
                                </div>
                              </form>
                            </div>
                          </ng-template>
                        </li>
                        <li class="nav-item" [ngbNavItem]="2">
                          <a class="nav-link" ngbNavLink>
                            Usuarios
                          </a>
                          <ng-template ngbNavContent >
                            <div class="tab-content text-center" style="width: 900px; margin-left: -210px;" >
                                <table mat-table [dataSource]="dataSource" matSort>
  
                                    <ng-container matColumnDef="name">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="surname">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
                                        <td mat-cell *matCellDef="let row"> {{row.surname}} </td>
                                      </ng-container>
                                      
                                
                                    <ng-container matColumnDef="email">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                                      <td mat-cell *matCellDef="let row"> {{row.email}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="role">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                                        <td mat-cell *matCellDef="let row"> {{row.role}}</td>
                                    </ng-container>
                                      <!--Metodo eliminar que no quiere jalar hijo de su puta madre-->
                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
                                        <td mat-cell *matCellDef="let row">
                                            <button class="btn btn-danger" (click)="deleteUser(row._id);">
                                              Borrar
                                            </button>
                                            <button class="btn btn-primary" (click)="deleteUser($event);">
                                              Editar
                                            </button>
                                        </td>
                                      </ng-container>
                                    
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                    </tr>
                                    </table>
                            </div>
                          </ng-template>
                        </li>                    
                      </ul>
                    </div>
                    <div [ngbNavOutlet]="nav1" class="custom-tab-content"></div>
                  </div>
                </div>
              <br>
              </div>
        </div>
      </div>
    </section>
  </main>
  