<app-navbar></app-navbar>
  <main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3 text-white" style="margin-top: 150px;">¡Bienvenido a PRACOFI!
                <span>ASESORIA CONTABLE Y FISCAL</span>
              </h1>
            </div>
            <div>
              <img style="margin-top: -70px; height: auto; width: 100%;" src=".\assets\img\brand\landing.png">
            </div>  
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>

 
  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="./assets/img/brand/despacho.jpg" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">PRACOFI®</h4>
              <p class="lead text-italic text-white">
                 
              </p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <h3>Empresa 100% Méxicana</h3>
            <p class="lead">Fundada en el año 2007 y
              establecida en la ciudad de Guadalajara, Jalisco. Con el propósito de brindar asesoría
              contable – fiscal de calidad, atendiendo las normas nacionales e internacionales
              para generar soluciones objetivas y confiables a nuestros clientes</p>
            <p>PRACOFI® cuenta con personal capacitado para asesorarle en cualquier
              cuestión relacionada con su negocio en el momento en que usted así lo desee.</p>
            <a href="javascript:void(0)" class="font-weight-bold text-warning mt-5"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section pb-0 bg-gradient-info">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-lg-2 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="d-flex px-3">
            <div class="pl-4">
              <h4 class="display-3 text-white"></h4>
              <p class="text-white">
                PRACOFI® se ha caracterizado por mantenerse siempre vigente en el mercado, innovando de manera constante el desarrollo de sus procesos, 
                servicios y sobre todo ofreciendo un mundo de soluciones contables y tecnologicas.
              </p>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">Soporte Remoto Profesional</h5>
                  <p>
                    Brindamos soporte remoto en paqueteria de CONTPAQI, dando  soluciones y un servicio profesional.
                  </p>
                  <!--
                  <a href="javascript:void(0)" class="text-success">Learn more</a>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-warning">Soluciones en soporte técnico</h5>
                  <p>Resuelve tus problemas puntuales de CONTPAQi, soluciona problemas de facturación, actualice sus sistemas, migre sistemas de CONTPAQi y capacita con nosotros.</p>
                  <!--
                  <a href="javascript:void(0)" class="text-warning">Learn more</a>
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="container py-md">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-5 mb-5 mb-lg-0">
            <h1 class="font-weight-bold">Respaldo Profesional</h1>
            <p class="lead mt-4">Nuestro personal está conformado por gente responsable, íntegra y con deseo de
              proporcionar su conocimiento para la mejora constante de nuestra empresa
              <br>Tenemos alianzas comerciales con despachos jurídicos y notarias, para brindar un
              servicio fiscal y legal más completo.
              Asimismo nuestro personal ha realizado Diplomados, Cursos y Certificados en las
              siguientes instituciones:</p>
            <a href="https://demos.creative-tim.com/argon-design-system-angular/documentation/alerts?ref=adsa-bootstrap-carousel" class="btn btn-white mt-4">See all components</a>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-3">Do you love this awesome
            <span class="text-success">Design System for Angular?</span>
          </h2>
          <p class="lead">Cause if you do, it can be yours for FREE. Hit the button below to navigate to Creative Tim where you can find the Design System in Angular. Start a new project or give an old Angular project a new look!</p>
          <div class="btn-wrapper">
            <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" class="btn btn-primary mb-3 mb-sm-0">Download Angular</a>
          </div>
          <div class="text-center">
            <h4 class="display-4 mb-5 mt-5">Available on these technologies</h4>
            <div class="row justify-content-center">
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/argon-design-system?ref=adsa-landing-page" target="_blank" placement="top" ngbTooltip="Bootstrap 4 - Most popular front-end component library">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/bootstrap.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" target="_blank" placement="top" ngbTooltip="Angular - One framework. Mobile &amp; desktop">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/angular.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/vue-argon-design-system?ref=adsa-landing-page" target="_blank" placement="top" ngbTooltip="Vue.js - The progressive javascript framework">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/vue.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.sketchapp.com/?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] Sketch - Digital design toolkit">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/sketch.jpg" class="img-fluid opacity-3">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.adobe.com/products/photoshop.html?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] Adobe Photoshop - Software for digital images manipulation">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/ps.jpg" class="img-fluid opacity-3">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://reactjs.org/?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] React - A JavaScript library for building user interfaces">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/react.jpg" class="img-fluid opacity-3">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-0">
      <div class="row text-center justify-content-center">
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <img  width="50px" src=".\assets\img\brand\mas.png">
          </div>
          <h5 class="text-white mt-3">Extensiones</h5>
          <p class="text-white mt-3">Sistemas: +101</p>
          <p class="text-white mt-3">Recursos Humanos: +546</p>
          <p class="text-white mt-3">Atencion a cliente: +485</p>
          <p class="text-white mt-3">Direccion: +102</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <img  width="50px" src=".\assets\img\brand\telefono (1).png">
          </div>
          <h5 class="text-white mt-3">Telefonos</h5>
          <p class="text-white mt-3">33221548</p>
          <p class="text-white mt-3">21545845</p>
          <p class="text-white mt-3">21485448</p>
          <p class="text-white mt-3">21488756</p>
     
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <img  width="50px" src=".\assets\img\brand\tienda.png">
          </div>
          <h5 class="text-white mt-3">Sucursales</h5>
          <a href="https://goo.gl/maps/jSZaMJyZPMDfYsvVA"><span class="text-white">Sucursal GDL</span></a>
          <p class="text-white mt-3">Calle Isla Cancún No. 2518 Col. Jardines del Sur Guadalajara Jalisco
            CP 44950
          </p>
          <span class="text-white">Sucursal Cocula</span>
          <p class="text-white mt-3">Calle Cuauhtémoc #240, colonia la Ascensión, Cocula Jalisco
            CP 48500
          </p>
          <a href="https://goo.gl/maps/2uLxsH7MSRpGgWqE6"><span class="text-white">Sucursal Aguascalientes</span></a>
          <p class="text-white mt-3"> Lanceros de Aguascalientes No. 644 Col. Las Américas
            Aguascalientes Aguascalientes C.P. 20230
          </p>
        </div>
      </div>
      
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
</main>
