<app-navbar></app-navbar>
<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-20">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container pt-lg pb-30" style="margin-bottom: 5%;">
          <div class="row text-center justify-content-center">           
          </div>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
    <section class="section bg-secondary"  style="margin-top: -150px;">
  <div class="container-fluid mt-5">
    <div *ngIf="item">
        <h1 style="text-align: center;" class="display-1 mb-0">{{item.titulo}}</h1>
        <div class="hr">
          <!--LINEA DEBAJO DEL TEXTO-->
        </div>
      <br><img style="width: 100%; justify-content: center;" src="{{item.image}}">
      <div class="content">
        <p style="text-align: justify;" class="lead">{{item.content1}}</p>
      </div>
      <div class="content">
        <p style="text-align: justify;" class="lead">{{item.content2}}</p>
      </div>
      <div class="content">
        <p style="text-align: justify;" class="lead">{{item.content3}}</p>
      </div>
    </div>    
  </div>
  <br><button [routerLink]="['/getnews']" class="btn btn-primary">
    Regresar
 </button>
      </section>
      
  </main>
  <app-footer></app-footer>
