<app-navbar></app-navbar>
<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-20">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container pt-lg pb-30" style="margin-bottom: 5%;">
          <div class="row text-center justify-content-center">           
          </div>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
    <section class="section bg-secondary"  style="margin-top: -150px;">
  <div class="container-fluid mt-5">
    <div *ngIf="item">
      <div class="col-sm-9">
        <h1 class="display-1 mb-0">{{item.titulo}}</h1>
      </div>
      <img src="{{item.image}}">
      <div class="col-sm-9">
        <p class="lead">{{item.content}}</p>
      </div>
    </div>    
  </div>
      </section>    
  </main>
  <app-footer></app-footer>
