<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
   <a  [routerLink]="['/landing']"> 
      <img  width="330px" src=".\assets\img\brand\Praco.png">
    </a>
    
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">

          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
      </ul>
     <!--Nav bar Menu -->
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item">
          <a [routerLink]="['/landing']" class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text"> Inicio</span>
          </a>  
        </li>
        <li class="nav-item" ngbDropdown placement="bottom-right">
          <a class="nav-link no-caret" id="navbar-primary_dropdown_1" ngbDropdownToggle>¿Quiénes somos?</a>
          <div class="dropdown-menu-right" aria-labelledby="navbar-primary_dropdown_1" ngbDropdownMenu>
            <a [routerLink]="['/about']" class="dropdown-item" href="javascript:void(0)">Misión</a>
            <a [routerLink]="['/']" class="dropdown-item" href="javascript:void(0)">Visión</a>
            <!--<div class="dropdown-divider"></div>-->
            <a [routerLink]="['/']" class="dropdown-item" href="javascript:void(0)">Valores</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text"> Contacto</span>
          </a>  
        </li>
        <li class="nav-item">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text"> Noticias</span>
          </a>  
        </li>
        <li class="navbar-nav navbar-nav-hover align-items-lg-center">
          <button class="btn btn-primary" (click)="open(classic1, 'modal_mini', 'sm')">
            Inicio de sesión
         </button>
          <ng-template #classic1 let-c="close" let-d="dismiss">
            <div class="modal-content">
              <div class="modal-body p-0">
                <div class="card bg-secondary shadow border-0">
                  <div class="card-header bg-white pb-5">
                    <div class="text-muted text-center mb-3">
                      <small>Sign in with</small>
                    </div>
                    <div class="btn-wrapper text-center">
                      <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                        <span class="btn-inner--icon">
                          <img src="./assets/img/icons/common/github.svg">
                        </span>
                        <span class="btn-inner--text">Github</span>
                      </a>
                      <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                        <span class="btn-inner--icon">
                          <img src="./assets/img/icons/common/google.svg">
                        </span>
                        <span class="btn-inner--text">Google</span>
                      </a>
                    </div>
                  </div>
                  <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                      <small>Or sign in with credentials</small>
                    </div>
                    <form role="form">
                      <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                          </div>
                          <input class="form-control" placeholder="Email" type="email" (focus)="focus=true" (blur)="focus=false">
                        </div>
                      </div>
                      <div class="form-group" [ngClass]="{'focused':focus1===true}">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                          </div>
                          <input class="form-control" placeholder="Password" type="password" (focus)="focus1=true" (blur)="focus1=false">
                        </div>
                      </div>
                      <div class="custom-control custom-control-alternative custom-checkbox">
                        <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                        <label class="custom-control-label" for=" customCheckLogin">
                          <span>Remember me</span>
                        </label>
                      </div>
                      <div class="text-center">
                        <button type="button" class="btn btn-primary my-4">Sign in</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
         </li>
      </ul>
    </div>
  </div>
</nav>

<!--<div class="dropdown-menu">
            <a [routerLink]="['/user-profile']" class="dropdown-item">Equipo de trabajo</a>
           registro poner en el apartado del rol admin
            <a [routerLink]="['/register']" class="dropdown-item">Register</a>
            
          </div>-->
