<app-navbar-admin></app-navbar-admin>
<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg pb-30" style="margin-bottom: 5%;">
        <div class="row text-center justify-content-center">
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <div>
      <section class="section section-lg pt-lg-0 section-contact-us">
        <div class="container text-center" >
          <div class="row justify-content-center mt--300">
            <div class="col-lg-8">
              <div class="card bg-gradient-secondary shadow">
                <div class="card-body p-lg-5">
                  <h4 class="mb-1">AÑADIR NOTICIA</h4>                
                  <form novalidate [formGroup]="newsForm" (ngSubmit)="onSubmit(newsForm.value)" #f="ngForm">
                    <div class="form-group mt-5">
                    <div class="input-group input-group-alternative">
                      <input formControlName="titulo" type="text" class="form-control" placeholder="Titulo" required ngModel>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <input formControlName="subtittle" type="text" class="form-control" placeholder="Pequeña descripción" required ngModel>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <textarea formControlName="content" class="form-control form-control-alternative" name="name" rows="4" cols="80" placeholder="Contenido" required ngModel></textarea>
                    </div>
                  </div>
                  <div class="form-group mb-4">
                      <input formControlName="image" type="text" class="form-control" placeholder="URL de imagen" required ngModel>
                  </div>
                  <div>
                    <button type="submit" [disabled]="f.invalid" class="btn btn-default btn-round btn-block btn-lg">Guardar</button>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>
</main>
<mat-card>
  <table mat-table [dataSource]="dataSource">
    <!-- Noticia -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Noticia </th>
      <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
    </ng-container>
  
    <!-- Subtitulo -->
    <ng-container matColumnDef="subtittle">
      <th mat-header-cell *matHeaderCellDef> Subititulo </th>
      <td mat-cell *matCellDef="let element"> {{element.subtittle}} </td>
    </ng-container>
  
    <!-- Acciones -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element"> 
        <button class="btn btn-danger" (click)="deleteNews(element._id);">
          Borrar
        </button>
        <button class="btn btn-primary">
          Editar
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="100"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page">
</mat-paginator>

  
</mat-card>


