
  <div class="container-fluid mt-5">
      <h1 class="display-2 mb-0" style="text-align: center;">¿Buscas trabajo? ¡Únete a nosotros!</h1>
      <br><div class="hr">
        <!--LINEA DEBAJO DEL TEXTO-->
      </div>
<br><div class="container">
    <div class="card" *ngFor="let new of topHeadingDisplay">
      <div class="card-body">
        <span class="tag tag-teal"> {{ new.vacancy}}</span>
        <h4>
          {{new.description}}
        </h4>
        <p>
          <br>{{new.requirements}}
          <br>Salario: ${{new.salary}}.00
          <br>Tiempo: {{new.time}}
        </p>
        <button class="btn btn-primary"> Postularme </button>
      </div>
    </div>
  </div>
</div>
