<app-navbar></app-navbar>
<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <!--EL TOP DE SERVICIOS-->
      <section class="section section-lg section-shaped pb-20">
        <div class="shape shape-style-1 shape-default"style="margin: top -300px;">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <!-- SVG separator -->
      <!--<div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    -->
    </section>
    <!--SERVICIOS DESGLOZADOS 1PT-->
    <!-- 1st Hero Variation -->
    <section class="section section-lg section-shaped pb-250">
      <!--fondo-->      
      <div class="container ">
          <div class="row row-grid align-items-center">            
              <div class="col-md-6 order-lg-2 ml-lg-auto">                
                  <div class="position-relative pl-md-5">
                      <img src="./assets/img/brand/conta.png" class="img-center img-fluid" style="width: 100%;">
                        </div>
                      </div>
                      <div class="col-lg-6 order-lg-1 ">
                        <!--Dentro de cuadrito-->
                        <div class="card shadow shadow-lg--hover mt-5">
                          <!--^^^^^^^^^^^^^^^^-->
                          <div class="card-body">
                            <div class="d-flex px-3">
                              <div>
                                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                                  <!--ICONOS-->
                                  <i class="ni ni-satisfied"></i>
                                </div>
                              </div>
                              <div class="pl-4 ">
                                <h5 class="title text-success">Asesoría contable – fiscal</h5>
                                <p class="tex" >Como asesores brindamos ayuda tanto a
                                   empresas como personas fisicas  en todo lo concerniente a sus obligaciones contables y fiscales,
                                  asi  mismo empleamos nuestros conocimientos 
                                  para asistirle en otras actividades relacionadas con la gestión y la administración de su empresa. </p>
                              </div>
                            </div>
                          </div>
                        </div>
                         <!--Dentro de cuadrito-->
                         <div class="card shadow shadow-lg--hover mt-5">
                          <!--^^^^^^^^^^^^^^^^-->
                          <div class="card-body">
                            <div class="d-flex px-3">
                              <div>
                                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                                  <i class="ni ni-active-40"></i>
                                </div>
                              </div>
                              <div class="pl-4">
                                <h5 class="title text-success" >Planeación contable – fiscal</h5>
                                <p class="tex"> Ofrecemos  un amplio asesoramiento sobre el cumplimiento íntegro de las obligaciones fiscales, 
                                  además de asegurar que la carga tributaria se minimice al máximo dentro de lo posible.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                
  </section>
   <!--SERVICIOS DESGLOZADOS 2PT-->
    <!-- 1st Hero Variation -->
    <section class="section section-lg section-shaped pb-250">
      <!--fondo-->
      <div class="shape shape-style-1 shape-default " style="margin: top -150px; ">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!---->
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-md-6 order-lg-2 ml-lg-auto">
                <div class="position-relative pl-md-5">
                    <img src="./assets/img/brand/conta.png" class="img-center img-fluid" style="width: 100%;">
                      </div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                      <!--Dentro de cuadrito-->
                      <div class="card shadow shadow-lg--hover mt-5">
                        <!---->
                        <div class="card-body">
                          <div class="d-flex px-3">
                            <div>
                              <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                                <i class="ni ni-active-40"></i>
                              </div>
                            </div>
                            <div class="pl-4">
                              <h5 class="title text-success">Asesoría contable – fiscal</h5>
                              <p class="tex" >como asesores contables fiscal estamos encargados de ayudar tanto a
                                 empresas o a autónomos en todo lo concerniente a sus obligaciones contables y fiscales, del mismo modo que empleamos nuestros conocimientos 
                                para asistirle en otras actividades relacionadas con la administración y la gestión de su actividad </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--Seccion numero 2-->
                       <!--Dentro de cuadrito-->
                       <div class="card shadow shadow-lg--hover mt-5">
                        <!--^^^^^^^^^^^^^^^^-->
                        <div class="card-body">
                          <div class="d-flex px-3">
                            <div>
                              <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                                <i class="ni ni-active-40"></i>
                              </div>
                            </div>
                            <div class="pl-4">
                              <h5 class="title text-success" >Planeación contable – fiscal</h5>
                              <p class="tex"> Ofrecemos  un amplio asesoramiento sobre el cumplimiento íntegro de las obligaciones fiscales, 
                                además de asegurar que la carga tributaria se minimice al máximo dentro de lo posible.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
</section>
  </div>
  <app-footer></app-footer>