<app-navbar></app-navbar>
<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-20">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container pt-lg pb-30" style="margin-bottom: 5%;">
          <div class="row text-center justify-content-center">           
          </div>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
    <section class="section bg-secondary"  style="margin-top: -150px;">
      <h1 class="display-2 mb-0" style="text-align: center;">Ultimas noticias</h1>
      <br><div class="hr">
        <!--LINEA DEBAJO DEL TEXTO-->
      </div>
  <div class="container-fluid mt-5">
      <div class="row">
        <div *ngFor="let new of topHeadingDisplay" class="col-lg-3">
          <div class="box">
            <img src="{{new.image}}" width="100%">
            <h5>{{ new.titulo }}</h5>
            <!--<p>{{ new.content }}</p>-->
            <a [routerLink]="['/detailnews/', new._id]" class="btn btn-primary btn-sm mt-2">Leer más</a>
          </div>
        </div>
      </div>
  </div>
      </section>    
  </main>
  <app-footer></app-footer>