
<main>
<section class="section section-lg bg-gradient-default" >
    <div class="container pt-lg pb-0" style="margin-top:-200px">
      <div class="row text-center justify-content-center">
      </div>
      <div class="row row-grid mt-5" style="margin-top:-400px">
        <div class="col-lg-4" >
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <img  width="50px" src=".\assets\img\brand\mas.png">
          </div>
          <h5 class="text-white mt-3">Extensiones</h5>
          <p class="text-white mt-3">Sistemas: +103</p>
          <p class="text-white mt-3">Recursos Humanos: +105</p>
          <p class="text-white mt-3">facturación: 100</p>
          <p class="text-white mt-3">Direccion: +102</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <img  width="50px" src=".\assets\img\brand\telefono (1).png">
          </div>
          <h5 class="text-white mt-3">Telefonos</h5>
          <p class="text-white mt-3">33221548</p>
          <p class="text-white mt-3">21545845</p>
          <p class="text-white mt-3">21485448</p>
          <p class="text-white mt-3">21488756</p>
     
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <img  width="50px" src=".\assets\img\brand\tienda.png">
          </div>
          <h5 class="text-white mt-3">Sucursales</h5>
          <a href="https://goo.gl/maps/jSZaMJyZPMDfYsvVA"><span class="text-white">Sucursal GDL</span></a>
          <p class="text-white mt-3">Calle Isla Cancún No. 2518 Col. Jardines del Sur Guadalajara Jalisco
            CP 44950
          </p>
          <span class="text-white">Sucursal Cocula</span>
          <p class="text-white mt-3">Calle Cuauhtémoc #240, colonia la Ascensión, Cocula Jalisco
            CP 48500
          </p>
          <a href="https://goo.gl/maps/2uLxsH7MSRpGgWqE6"><span class="text-white">Sucursal Aguascalientes</span></a>
          <p class="text-white mt-3"> Lanceros de Aguascalientes No. 644 Col. Las Américas
            Aguascalientes Aguascalientes C.P. 20230
          </p>
        </div>
      </div>
      
    </div>
    <!-- SVG separator -->
  </section>
</main>