<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
    <div class="container">
     <a  [routerLink]="['/landing']"> 
        <img  width="290px" src=".\assets\img\brand\Praco.png">
      </a>
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
  
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        </ul>
       <!--Nav bar Menu -->
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item">
            <a [routerLink]="['/adminview']" class="nav-link no-caret" data-toggle="dropdown" role="button">
              <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text">Inicio</span>
            </a>  
          </li>         
          <li class="nav-item">
            <a [routerLink]="['/users']" class="nav-link no-caret" data-toggle="dropdown" role="button">
              <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text">Usuarios</span>
            </a>  
          </li>
          <li class="nav-item">
            <a [routerLink]="['/news']" class="nav-link no-caret" data-toggle="dropdown" role="button">
              <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text">Noticias</span>
            </a>  
          </li>
          <li class="nav-item">
            <a [routerLink]="['/bolsa']" class="nav-link no-caret" data-toggle="dropdown" role="button">
              <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text"> Bolsa de trabajo</span>
            </a>  
          </li>
          <li>
            <ng-container>
            <button type="button" class="btn btn-primary" (click)="logout()">Cerrar Sesión</button>
          </ng-container>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  